@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

@theme {
  --color-background: hsl(210, 10%, 12%);
  --color-primary: hsl(187 97.7% 65.9%);
  --color-secondary: hsl(7 97.7% 65.9%);
}

body {
  @apply bg-background;
}

.app-container {
  @apply w-full max-w-7xl mx-auto px-5;
}
